$mobMax: 840px;
.mob {display: none;} 
@media screen and (max-width: $mobMax) {
    .box {
        padding: 0 20px;
    }
    .dt {
        display: none;
    }
    .mob {
        display: block;
    }
    .page__offers {
      margin: 0;
      padding: 28px 0;
    }
    .heading {
        font-size: 24px;
    }
}